body {
  background-color: peru;
}

h1 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.btn {
  cursor: pointer;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
